.cards__like-button_active {
    padding: 0;
    margin-right: 30px;
    display: block;
    background-image: url(../../../../images/Union.svg);
    border: none;
    width: 22px;
    height: 19px;
    align-self: center;
}

.cards__like-button_active:hover {
    cursor: pointer;
    opacity: .5;
}