.popup__input-error {
  color: #ff0000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  z-index: 100;
  position: absolute;
  top: 65px;
  left: 0;
  }

  @media(max-width: 519px) {
    .popup__input-error {
      padding-left: 22px;
    }
  }