.popup__close {
    position: absolute;
    top: -32px;
    right: 0px;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: opacity 0.2s linear;
}

.popup__close:hover {
    cursor: pointer;
    opacity: .6;
}

@media (min-width: 520px) {
    .popup__close {
        top: -40px;
        right: -40px;
    }
}