.profile__description {
    max-width: 320px;
    text-align: center;
}

@media (min-width: 520px) {
    .profile__description {
        margin: 0 30px 0 30px;
        text-align: start;
        max-width: 336px;
    }
}

@media (min-width: 768px) {
    .profile__description {
        margin: 0 0 0 30px;
    }
}